certifi==2017.4.17
fxapom==1.10.1
PyFxA==0.3.0
PyJWT==1.5.2
PyPOM==1.2.0
pytest==3.2.1
pytest-instafail==0.3.0
pytest-selenium==1.11.0
pytest-variables==1.7.0
pytest-xdist==1.19.0
selenium==3.5.0
hashin==0.11.2
zope.component==4.3.0
zope.event==4.2.0
zope.interface==4.3.3
pytest-base-url==1.2.0
pytest-html==1.14.0
